{% extends "base.html" %}
{% block content %}
        <h2>Register</h2>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <form action="" method="POST">{% csrf_token %}
            <table>
            {{ user_form.as_table }}
            {{ profile_form.as_table }}
            </table>
        <p>
            <input type="submit" value="Submit" value="register"/>
        </p>
        </form>
{% endblock %}
